---
---

<footer class="text-gray-400 bg-darkergray">
  <div class="page-wrap max-w-4xl p-8 flex justify-center">
    <span class="font-bold">
      &copy; CB Trees {new Date().getFullYear()}
    </span>
  </div>
</footer>
